header {
    font-size: 40px;
    font-weight: bolder;
    background-color:  rgb(58, 58, 58);
    color: white;
    text-align: center;
    padding: 20px;
}

aside {
    height: 100%; 
    position: fixed;
    background-color: rgb(247, 245, 245);
}

h3 {
    font-size: 18px;
    padding: 20px 0px 10px 5px;  
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

button {
    color: burlywood;
}  

  @media screen and (max-width: 576px) {
    .navbar-brand {
    text-align: center;
    padding: 0 auto;
    width: 100%;
}
}

@media screen and (max-width: 768px) {
    .navbar-brand { 
    text-align: center;
    padding: 0 auto;
    width: 100%;
}
}  